.row-main{
    /* height: 100vh; */
    width: 100%;
}
.col-xs-2{
    height: 100%;
    border: 1px solid black;
}
.black{
    background-color: black;
}
#logo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    background-color: black;
    color: white;
}
#logo > img{
    filter: invert(1);

}
#logo > h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    padding: 5px;
    font-size: 26px;
}
.library{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    margin-bottom: 30px;

}
.library > ul{
    list-style-type: none;
    
}
.library > ul > li{
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.playlist{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    flex-direction: column;
}

.playlist > h2{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    color: white;
    padding-left: 10px;

}
#square{
    font-size: 50px;
    color: #a3a3a3;
    display: inline;
    
}


.playlist > p{
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #a3a3a3;

}
.new{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.new > span{
    padding: 10px 5px 10px 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #a3a3a3;
    
}
.install{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    margin-top: 100px;

}
.install > span{
    color: #a3a3a3;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    
}
hr{
    background-color: #a3a3a3;
    height: 2px;
    width: 80%;
    margin: auto;
}
.john{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    margin-top: 20px;

}
.john > span{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
